.btnHover:hover{
    border-radius: 20px 30px ;
}
input{
    width: 80%;
    border-radius: 20px 30px ;
    padding: 10px;
    border: none;
    background-color: rgba(247, 236, 221, 0.414);
    color: rgb(225, 226, 227);
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
input:hover{
    box-shadow: 1px 5px 7px rgb(30, 25, 21);
    padding: 10px 15px  ;
}
input:focus{
    outline-color: rgba(227, 214, 195, 0.8);
}
input::placeholder{
    color:rgb(233, 233, 233);
    font-size: 15px;
    font-family:cursive;
}
.page-bg{
    min-height: 100vh;
    background-image: url('../public/435613.jpg');
    background-size: cover;
    background-position: center;
}
.formBoxStyle{
    padding: 40px;
    box-shadow: 1px 5px 7px rgba(3, 3, 3, 1);
    background: rgba(78, 57, 10, 0.9);
    border-radius: 60% 40% 30% 70%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.formBoxStyle {
  transition: all 0.35s ease;
}

.form-login {
  opacity: 1;
  transform: scale(1);
}

.form-signup {
  opacity: 1;
  transform: scale(1.03);
}
.form-animating {
  opacity: 0;
  transform: scale(0.97);
}
.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 90%;
  max-width: 420px;
  display: flex;
  align-items: center;
  z-index: 9999;

}

/* ERROR SEVERITY */
.alert-error {
  background-color: #fdecea;   /* MUI error bg */
  color: #611a15;              /* MUI error text */
  border: 1px solid #f5c6cb;   /* MUI error border */
}

/* ICON */
.alert-icon {
  font-size: 20px;
  line-height: 1;
}
